@import url(meyer-reset.css);

.header-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 8px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1;
}

.diptych {
    display: flex;
    background-color: #1F2937;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.text-content {
    padding-bottom: 30px;
    padding-top: 20px;
    max-width: 500px;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 12px;
    padding-bottom: 14px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: bolder;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.image-content {
    display: block;
    display: flex;
    flex: 1;
    min-width: 280px;
    min-height: 200px;
    justify-content: center;
}

img {
    display: block;
    min-height: 200px;
    min-width: 280px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 80px;
    padding-top: 80px;
}

.empty-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 80px
}

.empty-card {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.empty-card-box {
  height: 250px;
  width: 250px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.below-card-text {
  text-align: center;
  width: 300px;
  color: black;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote {
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    max-width: 800px;
}

.quote-sign {
    color: black;
    font-weight: 900;
    font-size: 30px;
    text-align: right;
    padding-right: 100px;
}

section {
    border: 4px solid lightcoral;
}

footer {
    border: 4px solid lightgreen;
}

html {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}
