header {
    border: 4px solid lightblue;
}

.center-column {
    display: block;
    border: 4px solid orchid;
}

section {
    border: 4px solid lightcoral;
}

footer {
    border: 4px solid lightgreen;
}

html {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}